
@import "vars";

$black: #000;
$white: #fff;
$blue: #497bad;
$light-blue: #9ec3e5;
$red: #ec6f66;
$green: #c2ddb6;
$yellow: #feedbc;

header {
  background-color: $blue;
  color: $white;

  nav ul {
    li {
      border: 1px solid $white;
      border-radius: 3px;
      a {
        color: $white;
        text-decoration: none;
        padding: $spacing-unit;
        &:hover {
          background-color: $white;
          color: $blue;
        }
      }
    }
  }
}

main {
  table.sourceCode {
    .lineNumbers {
      color: #aaaaaa;
      border-right: 1px solid #aaaaaa;
    }

    code > span.kw { color: #007020; font-weight: bold; }
    code > span.dt { color: #902000; }
    code > span.dv { color: #40a070; }
    code > span.bn { color: #40a070; }
    code > span.fl { color: #40a070; }
    code > span.ch { color: #4070a0; }
    code > span.st { color: #4070a0; }
    code > span.co { color: #60a0b0; font-style: italic; }
    code > span.ot { color: #007020; }
    code > span.al { color: #ff0000; font-weight: bold; }
    code > span.fu { color: #06287e; }
    code > span.er { color: #ff0000; font-weight: bold; }
  }
}

footer abbr.heart {
  color: $red;
}

