
@mixin typography($font-family, $base-size) {

  body {
    font-family: $font-family;
    font-size: $base-size;
    line-height: 1.5em;

    h1 {
      font-size: 2.5em;
      line-height: 1em;

      small {
        font-size: 0.4em;
      }
    }

    p {
      >code {
        font-size: 0.7em;
	white-space: nowrap;
      }
    }

    .sourceCode {
      font-size: 0.8em;
      line-height: 1.2em;
    }
  }

}
